extends layout 

block content  
    div(class="text-xs md:text-base")
        p Press space-bar to focus on search area 
        p Searching and viewing profiles doesn't require logging in
        p Signup and Login to access ore features
        p You can change themes