html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GitHub Profile Viewer
    body
        div 
            header 
                span GitHub Profile Viewer
                form(action="/api" method="POST") 
                    input(type="text", name="username", id="username", placeholder="Github Username")
                    button(type="submit") Fetch Profile
                if(message)
                    p #{message}
        div 
            nav 
                a(href="/api") Home
                a(href="/api/documentation") Documentation
                a(href="/api/feedback") Feedback
                a(href="/logout") Logout
        main
            block content
            br
        script.
            // Add an event listener for the space bar to focus on the input field
            document.addEventListener('keydown', function(event) {
                if (event.code === 'Space' && event.target.tagName !== 'INPUT') {
                event.preventDefault();
                document.getElementById('username').focus();
                }
            });

    footer
        div
            h Search History

        if(searchHistory)
            ul 
            each name in searchHistory
                li #{name}
            

        p Made by OM