html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GitHub Profile Viewer
        link(rel="manifest" href="./manifest.json")
        style 
            include ../public/styles/styles.css
    body.flex.justify-center
        div 
            header 
                span.text-xl GitHub Profile Viewer
                form(action="/api" method="POST") 
                    input(type="text", name="username", id="username", placeholder="Github Username")
                    button(type="submit") Fetch Profile
                if(message)
                    p #{message}
        div 
            nav 
                a(href="/api") Home
                a(href="/api/documentation") Documentation
                a(href="/api/feedback") Feedback
                a(href="/logout") Logout
                if(!loggedIn)
                    a(href="/login") Login
                    a(href="/signup") Signup
        main
            block content
            br
        script.
            // Add an event listener for the space bar to focus on the input field
            document.addEventListener('keydown', function(event) {
                if (event.code === 'Space' && event.target.tagName !== 'INPUT') {
                event.preventDefault();
                document.getElementById('username').focus();
                }
            });
            // Register the service worker

            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js')
                .then((registration) => {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch((error) => {
                    console.error('Service Worker registration failed:', error);
                });
            }

    footer
        div
            h Search History

        if(searchHistory)
            ul 
            each name in searchHistory
                li #{name}
            

        p Made by OM