extends layout 

block content
    div(class="text-xs md:text-base")
        h REPOSITORY LIST
        if(repos)
            ul 
            each repo in repos
                if(repo)
                    li #{repo.name}
    
