@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #333;
    background-color: white;
    }
  
  /* Dark mode styles */
body.dark-mode {
    color: white;
    background-color: #333;
}
